*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #5f5858;
}


.position {
  display: flex;
  justify-content: space-around;
  background-image:
          repeating-linear-gradient(45deg,
          #3b3939 0%,
          white 2%, cyan 2%,
          cyan 4%, white 4%);
}
